<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="style.css">
    <!--  font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  font-awesome -->

</head>

<body>

    <div id="app" v-cloak>
        <header>
            <div class="title">{{pageTitle}}</div>
        </header>
        <main>
            <div class="container">
                <ul class="list">
                    <li><input type="text" placeholder="inserisci qualcosa"  v-model="newKey"><button @click="addTodo">add</button></li>
                    <li class="item" v-for="(todo, index) in todoList">
                        <div>{{index}}{{todo}}</div>
                        <i class="fa-solid fa-trash" @click="deleteTodo"></i>
                    </li>
                </ul>
            </div>

        </main>




    </div>





    <!--Vue from CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Vue from CDN-->
    <script src="main.js"></script>
</body>

</html>