* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(121, 121, 183);
}

[v-cloak] {
    display: none;
}

header,
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.title {
    font-size: large;
}

.list li {
    list-style-type: none;
    padding: 10px;
    background-color: white;
    border:  1px solid black;
}


.item{
    display: flex;
    justify-content: space-between;
}